h1.heading {
  font-family: 'lora'!important;
  font-size: 36px!important;
  color:#D68662;
}
button.btn.btn-primary.newsletter_btn {
  background: #d68662;
  border: #d68662;
}
.newsletter_btn {
  width: 170%;
}
.btn_newsletter {
  padding-left: 0px;
}

.input-group.col-12.input_newsletter {
  padding-right: 0px!important;
}
