h2.banner_heading {
  color: #fff;
  font-family: 'Lora';
  font-size: 36px;
  text-transform: capitalize;
}
p.banner_text {
  color: #fff;
}
button.banner-button.btn.btn-primary.banner_btn {
  color: #000;
  background: #fff;
  border: #fff;
  padding-left: 22px;
  padding-right: 22px;
}
