<app-header></app-header>

<section class="container">
  <app-banner-image class="row position-relative pt-5"></app-banner-image>
  </section>


  <section class="py-5 container">
    <div class="row">
      <!-- <span *ngIf="productData.length == 0">No Products</span> -->
      <app-category-grid class="col-6 col-md-4 my-3"></app-category-grid>
      <app-category-grid class="col-6 col-md-4 my-3"></app-category-grid>
      <app-category-grid class="col-6 col-md-4 my-3"></app-category-grid>
    </div>
  </section>

<section class="container">
  <app-newsletter class="row pt-5"></app-newsletter>
 </section>


<app-footer></app-footer>
