<app-header></app-header>
<section class="section-one">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-8">
        <h4>Live out your life.</h4>
        <h1>The happiness of crafting artworks</h1>
        <p>It’s all about the joy when finally you have done something beautiful on your own and observe it with quite a great deal of proud & successful feeling.</p>
      </div>
      <div class="col-12 col-md-4">
        <img src="https://template.hasthemes.com/learts/learts/assets/images/about/about-5.webp"/>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container my-5">
    <div class="row">
      <div class="col-12 col-md-4 p-3 text-center">
        <h4>FREE SHIPPING</h4>
        <p>Once receiving your order, we will turn your products around in 3- 5 business days.</p>
      </div>
      <div class="col-12 col-md-4 p-3 text-center">
        <h4>FREE RETURNS</h4>
        <p>We accept returns for freshly purchased products within 7 days from the payment.</p>
      </div>
      <div class="col-12 col-md-4 p-3 text-center">
        <h4>SECURE PAYMENT</h4>
        <img src="https://template.hasthemes.com/learts/learts/assets/images/others/pay.webp"/>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container my-5">
    <div class="row">
      <div class="col-12 col-md-12">
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/1jSsy7DtYgc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container my-5">
    <div class="row">
      <div class="col-12 col-md-4">
        <h2>The difference when you shop Learts!</h2>
      </div>
      <div class="col-12 col-md-8 d-flex flex-wrap">
        <div class="col-md-6">
          <h4>Free Shipping</h4>
          <p>Once receiving your order, we will turn your products around in 3-5 business days.</p>
        </div>
        <div class="col-md-6">
          <h4>Free Returns</h4>
          <p>We accept returns for freshly purchased products within 7 days from the payment.</p>
        </div>
        <div class="col-md-6">
          <h4>Superb Quality</h4>
          <p>We make commitments that the quality of our products will and always will be superb.</p>
        </div>
        <div class="col-md-6">
          <h4>Free Wrapping</h4>
          <p>Upon request, items bought as gifts from our store can receive free wrapping service.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-4 col-md-4">
        <h6>LEARTS STORE</h6>
        <h2>Aspiration Inspired Happiness</h2>
      </div>
      <div class="col-8 col-md-8">
        <img src="https://template.hasthemes.com/learts/learts/assets/images/about/about-6.webp" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
