<header>
  <div class="col-12 text-center">
    <a class="navbar-brand col-md-2" href="#">
      <img src="assets/website/melogo.png" class="img-fluid"/>
    </a>
  </div>
<nav class="navbar navbar-expand-lg navbar-light header">
  <div class="col-md-1 col-4 order-0">
    <ul class="nav navbar">
      <li>
        <a href="" class="text-dark"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="" class="text-dark"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="" class="text-dark"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="" class="text-dark"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
  <button class="navbar-toggler order-2 order-md-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse col-4 col-md-10 order-2 order-1" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item" routerLink="/home" routerLinkActive="active">
        <a class="nav-link">Home</a>
      </li>
      <li class="nav-item" routerLink="/shop" routerLinkActive="active">
        <a class="nav-link">Shop</a>
      </li>
      <li class="nav-item" routerLink="/about-us" routerLinkActive="active">
        <a class="nav-link">About Us</a>
      </li>
      <li class="nav-item" routerLink="/best-seller" routerLinkActive="active">
        <a class="nav-link">Best Sellers</a>
      </li>
      <li class="nav-item" routerLink="/contact-us" routerLinkActive="active">
        <a class="nav-link">Contact Us</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li> -->
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
  </div>
  <div class="col-md-1 col-4 order-1 order-2">
    <ul class="nav navbar">
      <li>
        <a href="cart" class="text-dark"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="cart" class="text-dark"><i class="fa fa-user" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="cart" class="text-dark"><i class="fa fa-search" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
</nav>
</header>
