<app-header></app-header>
<section>
  <div class="container">
    <div class="row align-items-center contact-first">
      <div class="col-12 col-md-12 text-center">
        <h2>Keep in touch with us</h2>
        <p class="col-md-8 mx-auto">Been tearing your hair out to find the perfect gift for your loved ones? Try visiting our nationwide local stores. You can also contact us to become partner or distributor. Call us, send us an email or make an appointment now.</p>
      </div>
    </div>
  </div>
</section>
<hr/>
<section>
  <div class="container">
    <div class="row my-5">
      <div class="col-4 col-md-4">
        <h4>ADDRESS</h4>
        <p>1800 Abbot Kinney Blvd. Unit D & E Venice</p>
      </div>
      <div class="col-4 col-md-4">
        <h4>CONTACT</h4>
        <p>Mobile: (+88) – 1990 – 6886<br/>Hotline: 1800 – 1102</p>
      </div>
      <div class="col-4 col-md-4">
        <h4>HOUR OF OPERATION</h4>
        <p>Monday – Friday : 09:00 – 20:00<br/>Sunday & Saturday: 10:30 – 22:00</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 text-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2483.7890769083124!2d-0.436623!3d51.498738!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876726f4c2d36d1%3A0x4dc7c187004a6251!2s2%20Elers%20Rd%2C%20Hayes%20UB3%201NY%2C%20UK!5e0!3m2!1sen!2sus!4v1638512760606!5m2!1sen!2sus" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-md-12 text-center">
        <h2>Send a message</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-12">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Email</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Password</label>
              <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Subjecy</label>
            <input type="text" class="form-control" placeholder="Subject"/>
          </div>
          <div class="form-group">
            <label for="inputAddress">Message</label>
            <textarea class="form-control" placeholder="Message"></textarea>
          </div>
          <button type="submit" class="btn btn-submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
