<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Page</h1>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">View Page</h6>
      </div>
      <div class="card-body" *ngIf="pages.length > 0">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                      <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th>Status</th>
                        <th>Edit</th>
                        <th>Delete</th>
                      </tr>
                  </thead>
                  <tfoot>
                      <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th>Status</th>
                        <th>Edit</th>
                        <th>Delete</th>
                      </tr>
                  </tfoot>
                  <tbody>
                    <tr *ngFor="let page of pages">
                        <td>{{ page.title }}</td>
                        <td>{{ (page.description)?((page.description).length == 10?page.description:page.description.substring(0,10)+'...'):'---' }}</td>
                        <td><a href="{{ page.image }}" target="_blank">Click Here</a></td>
                        <td><button (click)="changeStatus(page.id)" [class]="page.status==1?'btn btn-primary':'btn btn-danger'"><i class="fa fa-circle"></i></button></td>
                        <td><button [routerLink]="['/admin/add-page',page.id]" routerLinkActive="router-link-active"  class="btn btn-primary"><i class="fa fa-pen"></i></button></td>
                        <td><button (click)="deletepage(page.id)" class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
          <div class="card-body" *ngIf="pages.length == 0">No Page</div>
      </div>

  </div>
