<div class="text-center product">
  <!-- <span *ngIf="data?.discount_price != '0'" class="sale-bedge">Sale</span>
  <img src="{{ data.image }}" class="img-fluid"/>
  <h4>{{ data.name }}</h4>
  <span [class]="data?.discount_price !=  '0'?'text-strikethrow mr-1':''">{{ curr }}{{ data?.price }}</span>
  <span *ngIf="data?.discount_price != '0'">{{ curr }}{{ data?.discount_price }}</span>
  <div class="col-12 text-center form-btn">
    <button class="btn btn-cart" (click)="addToCart(data.id)"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
    <button class="btn btn-cart"><i class="fa fa-eye" aria-hidden="true"></i></button>
  </div> -->


  <div class="product_image" >
    <img class="img-fluid" src="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aHVtYW58ZW58MHx8MHx8&w=1000&q=80">
  </div> 
  <div class="product_name">
    <b> Lorem ipsum dolor sit</b>
  </div> 
  <span class="sale">Sale</span>
  <div class="product-price">
    <!-- <span class="price ">$50</span> -->
    <span class="price text-strikethrow">$50</span>
    <span class="discount_price">$40</span>
  </div>
  
</div>

