<app-header></app-header>
<section class="slider">
  <app-own-slider [data]="sliderData"></app-own-slider>
</section>

<!-- category-grid -->

<section class="py-5 container">
  <div class="row">
    <div class="col-12 text-center py-5">
      <h2>Category</h2>
    </div>
  </div>
  <div class="row">
    <span *ngIf="productData.length == 0">No Products</span>
    <app-category-grid class="col-6 col-md-4 my-3"></app-category-grid>
    <app-category-grid class="col-6 col-md-4 my-3"></app-category-grid>
    <app-category-grid class="col-6 col-md-4 my-3"></app-category-grid>
    <app-category-grid class="col-6 col-md-4 my-3"></app-category-grid>
  </div>
</section>
<!-- heading-content -->

<section >
    <app-heading-content [contentData]="contentData" class="py-5 container"></app-heading-content>
</section>


<section class="py-2 container">
  <div class="row">
    <span *ngIf="productData.length == 0">No Products</span>
    <app-product-grid class="col-6 col-md-3 py-2" *ngFor="let product of productData" [data]="product"></app-product-grid>
    <app-product-grid class="col-6 col-md-3 py-2" *ngFor="let product of productData" [data]="product"></app-product-grid>
    <app-product-grid class="col-6 col-md-3 py-2" *ngFor="let product of productData" [data]="product"></app-product-grid>
    <app-product-grid class="col-6 col-md-3 py-2" *ngFor="let product of productData" [data]="product"></app-product-grid>
    <app-product-grid class="col-6 col-md-3 py-2" *ngFor="let product of productData" [data]="product"></app-product-grid>
    <app-product-grid class="col-6 col-md-3 py-2" *ngFor="let product of productData" [data]="product"></app-product-grid>
    <app-product-grid class="col-6 col-md-3 py-2" *ngFor="let product of productData" [data]="product"></app-product-grid>
    <app-product-grid class="col-6 col-md-3 py-2" *ngFor="let product of productData" [data]="product"></app-product-grid>
    <app-product-grid class="col-6 col-md-3 py-2" *ngFor="let product of productData" [data]="product"></app-product-grid>
    <app-product-grid class="col-6 col-md-3 py-2" *ngFor="let product of productData" [data]="product"></app-product-grid>
    <app-product-grid class="col-6 col-md-3 py-2" *ngFor="let product of productData" [data]="product"></app-product-grid>
    <app-product-grid class="col-6 col-md-3 py-2" *ngFor="let product of productData" [data]="product"></app-product-grid>
  </div>
</section>

<!-- banner images -->
<section class="container">
<app-banner-image class="row position-relative"></app-banner-image>



</section>





<app-footer></app-footer>
