.imagedrag {
  height: 100px;
  border: 1px dashed #d3d3d3;
  width: 100%;
  background: #fff;
}
.imagedrag:after {
  content: "Drag Category Image";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
