<app-header></app-header>

  <section class="py-2 container">
    <div class="row pt-5">
      <!-- <span *ngIf="productData.length == 0">No Products</span> -->
      <app-product-grid class="col-6 col-md-3 py-2" ></app-product-grid>
      <app-product-grid class="col-6 col-md-3 py-2" ></app-product-grid>
      <app-product-grid class="col-6 col-md-3 py-2" ></app-product-grid>
      <app-product-grid class="col-6 col-md-3 py-2" ></app-product-grid>
      <app-product-grid class="col-6 col-md-3 py-2" ></app-product-grid>
      <app-product-grid class="col-6 col-md-3 py-2" ></app-product-grid>
      <app-product-grid class="col-6 col-md-3 py-2" ></app-product-grid>
      <app-product-grid class="col-6 col-md-3 py-2" ></app-product-grid>
      <app-product-grid class="col-6 col-md-3 py-2" ></app-product-grid>
      <app-product-grid class="col-6 col-md-3 py-2" ></app-product-grid>
      <app-product-grid class="col-6 col-md-3 py-2" ></app-product-grid>
      <app-product-grid class="col-6 col-md-3 py-2" ></app-product-grid>
    </div>
  </section>
  <app-footer></app-footer>
