<footer class="mt-5 py-5">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-6">
        <img src="https://template.hasthemes.com/learts/learts/assets/images/logo/logo-2.webp" class="img-fluid"/>
        <p class="my-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod itaque recusandae commodi mollitia facere iure nisi, laudantium quis quas perferendis a minus dolores.</p>
      </div>
      <div class="col-2 col-md-2 footer-nav">
        <h4>Important</h4>
        <ul class="nav navbar-nav">
          <li><a href="#">About us</a></li>
          <li><a href="#">Store location</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Orders</a></li>
        </ul>
      </div>
      <div class="col-2 col-md-2 footer-nav">
        <h4>Important</h4>
        <ul class="nav navbar-nav">
          <li><a href="#">About us</a></li>
          <li><a href="#">Store location</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Orders</a></li>
        </ul>
      </div>
      <div class="col-2 col-md-2 footer-nav">
        <h4>Important</h4>
        <ul class="nav navbar-nav">
          <li><a href="#">About us</a></li>
          <li><a href="#">Store location</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Orders</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
