footer{
  background-color: #e6e6e6;
}
.footer-nav h4{
  color: #d68662;
}
.footer-nav a{
  color: #000;
}
.karla{
  font-family: "Karla", sans-serif !important;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14PX;
  color: #272220!important;
  }
  li.footer-link a {
    font-size: 13px;
    color: #706c6c!important;
}
.main-footer {
  padding-top: 85px!important;
  padding-bottom: 65px!important;
  background: #F8F7F5!important;
}

